body {
    height: 100vh;
    background-image: url('https://uploaddeimagens.com.br/images/002/436/225/full/FB_IMG_15682491577998414.jpg?1571665872');
    background-size: 35%;
}

#salvar {
    right: 15px;
}

#mostrar {
    left: 15px;
}
